<header class="jumbotron subhead" id="overview">
	<div class="subnav subnav-fixed">
		<ul class="nav nav-pills">
			<li><a href="/user/list"><i class="icon-user"></i>用户管理</a></li>
			<li><a href="/role/list"><i class="icon-book"></i>角色管理</a></li>
			<li><a href="/auth/list"><i class="icon-book"></i>权限管理</a></li>
			<li><a href="/product/list"><i class="icon-th-list"></i>产品管理</a></li>
			<li><a href="/cate/list"><i class="icon-align-left"></i>产品目录</a></li>
			<li style="width:200px;"><a
				style="width:60px;display:inline-block;"> <i class="icon-home"></i>
					{{.userinfo}}
			</a><a style="width:40px;display:inline-block;"
				href="/logoff">注销</a></li>
		</ul>		
	</div>
</header>
